<<<<<<< HEAD
body {
    background: #212121;
}

.navbar {
    background: #1db954;
    padding-top: 30px;
    padding-bottom: 30px;;
}

.navbar-brand {
    color: #121212;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    font-weight: bolder;
    font-style: italic;
}

#row1 {
    padding-bottom: 100px;
    padding-top: 50px;
}

#row2 {
    padding-top: 50px;
    padding-bottom: 50px;
}
=======
.iframeContainer {
    padding: 20px;
    border: 1px solid #e3e3e3;
  }
  
  /* Sticky Footer rules (https://getbootstrap.com/examples/sticky-footer/) */
  html {
    position: relative;
    min-height: 100%;
  }
  
  body {
    /* Padding bottom by footer height */
    padding-bottom: 80px;
  }
  
  #footer {
    position: absolute;
    bottom: 0;
    width: 100%; /* Set the fixed height of the footer here */
    height: 10px;
    padding-top: 20px;
    padding-bottom: 40px;
    text-align: center;
    background-color: #f5f5f5;
  }
  
  #footer p {
    margin: 0;
    font-size: 16px;
  }
>>>>>>> 3435cc5c4185216eb5816afd7195ecb553836575
